<div class="container">
    <h2>Edit my Event</h2>
    <hr>

    <form action="/events/edit/{{event._id}}" method="POST">
        <div class="row">
            <div class="col-md-2">

                <div class="navBars">
                    <nav class="nav flex-column">
                        <button style="background: none; border: none;" type="submit">Submit changes</button>
                        <a class="nav-link" href="/events/myevents/details/{{event._id}}">Cancel</a>
                    </nav>
                </div>
            </div>


            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 ">
                        <label for="eventName" class="form-label">Event Name</label>
                        <input type="text" class="form-control" id="eventName" name="name" value="{{event.name}}">
                    </div>
                    <div class="col-md-6 ">
                        <label for="eventType" class="form-label">Event Type</label>
                        <select class="form-select" selected name="type">
                            <option value="Leisure">Leisure</option>
                            <option value="Work">Work</option>
                            <option value="Health">Health</option>
                        </select>
                    </div>
                    <div class="col-md-6 ">
                        <label for="eventSpecs" class="form-label">Event Specs</label>
                        <select class="form-select" selected name="specs">
                            <option value="Public">Public</option>
                            <option value="Private">Private</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="eventDescription" class="form-label">Description</label>
                        <input type="text" class="form-control" id="eventDescription" name="description"
                            value="{{event.description}}">
                    </div>
                    <div class="col-md-6">
                        <label for="date" class="form-label"> Start Date</label>
                        <input type="date" class="form-control" id="date" name="dateStart" value="{{event.date.start}}">
                    </div>
                    <div class="col-md-6">
                        <label for="date" class="form-label"> End Date</label>
                        <input type="date" class="form-control" id="date" name="dateEnd" value="{{event.date.end}}">
                    </div>
                    <div class="col-md-6">
                        <label for="date" class="form-label"> Start Hour</label>
                        <input type="time" class="form-control" id="date" name="startingHour"
                            value="{{event.date.hourStart}}">
                    </div>
                    <div class="col-md-6">
                        <label for="date" class="form-label"> End Hour</label>
                        <input type="time" class="form-control" id="date" name="endingHour"
                            value="{{event.date.hourEnd}}">
                    </div>

                </div>
            </div>
        </div>


    </form>

</div>