<div class="container">

    <h1> All the Events</h1>
    <hr>
    <div class="row">
        <div class="col-md-2">
            {{>indexNavEvent}}
        </div>
        <div class="col-md-10">
            <div class="row gap-3">
                {{#each events}}
                <div class=" card col-5">
                    <div class="card-body" style="color: black;">
                        <img src="{{image}}" alt="image">
                        <h4 class="card-title"><strong>{{name}}</strong> </h4>
                        <p class="card-text">{{description}}</p>
                        <p>Propietario <strong>{{owner.username}}</strong></p>
                        <h6 class="card-title">Empieza el <strong>{{date.start}}</strong> a las {{date.hourStart}} </h6>
                        <h6 class="card-title">Termina el <strong>{{date.end}}</strong> a las {{date.hourEnd}} </h6>

                        <a href="/events/details/{{_id}}" class="btn btn-sm btn-secondary">Event Details</Details>
                        </a>
                        <div>
                            {{#unless eventOwner.is}}
                            <form action="/events/subscribe/{{_id}}" method="POST" style="display: inline">
                                <input type="submit" value="Suscribe" class="btn btn-sm btn-dark">
                            </form>
                            <form action="/events/unsubscribed/{{_id}}" method="POST" style="display: inline">
                                <input type="submit" value="Unsubscribe" class="btn btn-sm btn-dark">
                            </form>
                            {{/unless}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>


</div>