<div class="container">

    <h2>Events from all the comunity around the world</h2>
    <hr>
    <div class="row">
        {{#each events}}
        <div class=" card col-3">
            <div class="card-body" style="color: black;">
                <h4 class="card-title"><strong>{{name}}</strong> </h4>
                <h6 class="card-title"><strong>{{date}}</strong> </h6>
                <a href="/publicevents/details/{{_id}}" class="btn btn-md btn-success">View details</a>
            </div>
        </div>
        {{/each}}
    </div>

    {{#if userRole.isUser}}
    <form action="/subscribe/{{event._id}}" method="POST" style="display: inline">
        <input type="submit" value="Suscribe" class="btn btn-lg btn-dark">
    </form>

    <form action="/unsubscribe/{{event._id}}" method="POST" style="display: inline">
        <input type="submit" value="Unsubscribe" class="btn btn-lg btn-dark">
    </form>

    {{/if}}

    <div>
        <a href="/myprofile" class="btn btn-lg btn-secondary">Return</a>
        <hr>
    </div>
</div>