<div class="container mt-5 ">
    <h1>Hola {{currentUser.username}}</h1>
    <p>Aqui estan tus preferencias de noticias :D</p>
    <ul class="nav justify-content-center mb-2 mt-4">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/news">Globals</a>
        </li>
        {{#each currentUser.newsPreferences}}
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/news/{{this}}">{{this}}</a>
        </li>
        {{/each}}
    </ul>
    <hr style="width: 40%; margin: 20px auto 50px auto;">
    <div class="bg">
        <div class="row align-items-center">
            {{#each news}}
            <div class="col-md-6 mb-3">
                <h3>{{title}}</h3>
                <p>{{abstract}}</p>
                <p class="text-end" style="color: lightslategray">{{byline}}</p>
                <a href="#" class="btn btn-dark">Mas detalles </a>
            </div>
            <div class="col-md-6">
                <img src="{{multimedia.[1].url}}" alt={{title}}>
            </div>
            <hr class="mt-5 mb-5" style="width: 75%; margin: 0 auto;">
            {{/each}}

        </div>
    </div>
</div>