<div class="container mt-3 ">
    <h1>Hola {{currentUser.username}}</h1>
    <p>Aqui estan tus preferencias de noticias :D</p>


    <div class="mt-5">
        <div class="row mt-4">
            <div class="col-md-2">
                <h4>Noticias</h4>
                {{>userNav}}
            </div>
            <div class="col-md-10">
                <ul class="nav justify-content-start mb-2">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/news">Globals</a>
                    </li>
                    {{#each currentUser.newsPreferences}}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/news/{{this}}">{{this}}</a>
                    </li>
                    {{/each}}
                </ul>
                <hr style="width: 40%; color: blue; height: 1.5px;" class="mb-4">
                <div class="row align-items-center">
                    {{#each news}}
                    <div class="col-md-6 mb-3">
                        <h3>{{title}}</h3>
                        <p>{{abstract}}</p>
                        <p class="text-end" style="color: lightslategray">{{byline}}</p>
                        <a href="#" class="btn btn-dark">Mas detalles </a>
                    </div>
                    <div class="col-md-6">
                        <img src="{{multimedia.[1].url}}" alt={{title}}>
                    </div>
                    <hr class="mt-5 mb-5" style="width: 75%; margin: 0 auto;">
                    {{/each}}

                </div>
            </div>
        </div>
    </div>
</div>